body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: white;
}

.main{
	margin: 0 auto;
	width: 100%;
	height: auto;
}

.topbar1{
	width: 100%;
	height: 4px;
	background-color: #fcc508;
}

.topbar2{
	width: 100%;
	height: 30px;
	background-color:  #2a2b2c;
}

.container1{
	width: 1000px;
	height: 30px;
	background-color: transparent;
	margin: 0 auto;
}

.container2{
	width: 1000px;
	height: 30px;
	background-color: transparent;
	margin: 0 auto;
}

.logout-btn{
	width: 150px;
	height: 30px;
	float: right;	
}

.logout-btn a{
	display: block;
	color: white;
	text-decoration:  none;
	padding: 4px;
}

.header{
	width: 100%;
	height: 40px;
	float:	left;
	background-color: #0ca1a6;
	box-shadow: 0 0, 0 6px 20px 0 rgba(0, 0, 0, .14);
}

.navbar{
	width: 700px;
	float: left;
	text-align: left;
	padding-top:10px;
	padding-bottom: 10px;	
}

.navbar a{
	display: inline-block;
	color:	black;
	text-decoration:none;
	padding: 0 10px;
	font-weight:bold;
}

.navbar a:hover{
	color: white;
	background-color: black;
	padding: 0 10px;
}

.active{
	width:1000px;
	min-height:638px;
	background-color: white;
	margin: 0 auto;
	padding: 0px 20px 50px 20px;
}

.filler{
	width:100%;
	height:50px;
	backgroud-color: transparent;
}

.filler2{
	width:100%;
	height:30px;
	backgroud-color: transparent;
}

h2{
	text-align: center;
	padding: 10px 0 5px 0;
}

.column {
  float: left;
  width: 22%;
  padding: 0 10px;
}

.row {margin: 0 0;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: sans-serif;
  background-color: rgba(0,0,0,0.1);
}

.card img{
	padding:0 17px 0 22px;
	background-color: white;
}

.card p{
	padding: 0;
	padding-bottom: 7px;
	margin:0;
}

.card input[type="number"]{
	border: 1px solid #808080;
	border-radius:3px;
	background-color: white;
	text-align: center;	
	color:black;
	-webkit-appearance: none; 
}

.card input[type=number]::-webkit-inner-spin-button, 
.card input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.card:hover{
	box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
  }
}