body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image: url("b2g.png");
	background-repeat: no-repeat;
}

.main{
	margin: 0 auto;
	width: 100%;
	height: auto;
}

.topbar1{
	width: 100%;
	height: 4px;
	background-color: #fcc508;
}

.topbar2{
	width: 100%;
	height: 30px;
	background-color:  #2a2b2c;
}

.container1{
	width: 1000px;
	height: 30px;
	background-color: transparent;
	margin: 0 auto;
}

.container2{
	width: 1000px;
	height: 30px;
	background-color: transparent;
	margin: 0 auto;
}

.logout-btn{
	width: 150px;
	height: 30px;
	float: right;	
}

.logout-btn a{
	display: block;
	color: white;
	text-decoration:  none;
	padding: 4px;
}

.header{
	width: 100%;
	height: 40px;
	float:	left;
	background-color:#0ca1a6;
	box-shadow: 0 0, 0 6px 20px 0 rgba(0, 0, 0, .14);
}

.navbar{
	width: 700px;
	float: left;
	text-align: left;
	padding-top:10px;
	padding-bottom: 10px;	
}

.navbar a{
	display: inline-block;
	color:	black;
	text-decoration:none;
	padding: 0 10px;
	font-weight:bold;
}

.navbar a:hover{
	color: white;
	background-color: black;
	padding: 0 10px;
}

.active{
	width:1000px;
	min-height:688px;
	background-color: white;
	margin: 0 auto;
	padding: 0px 20px 0px 20px;
}

.filler2{
	width:100%;
	height:75px;
	backgroud-color: transparent;
}

table {
  width: 100%;
  border-collapse: collapse;
    border: 1px solid black;
}
th {
	border: 1px solid black;
  padding: 15px;
  text-align: left;
  background-color: #0ca1a6;
  color: white;
}

tr,td{
	border: 1px solid black;
  padding: 15px;
  text-align: left;
}