body{
	margin: 0;
	padding: 0;
	font-family:sans-serif;
	background-image: url("../images/bg.png");
	background-color: #78e4ff;
	background-repeat: no-repeat;
}

.container
{
	width: 50%;
	display: flex;
    align-items: center;
	height: 720px;
}

.registerbox{
	width: 320px;
	height: auto;
	box-sizing: border-box;
	padding: 30px 30px;
	background: rgba(255,250,250,0.85);
	margin:0 auto;
}

h2{
	top: 0%;
	margin: 0 auto;
	padding: 0 0 30px;
	color:#2f4f4f;
 	font-size:22px; 
}
h3{
	position:relative;
	margin :0 auto;
	color: #ff2929;
	font-size: 16px;
	padding: 0 0 20px;
}
.registerbox input{
	width: 100%;
	margin-bottom: 25px;
}

.registerbox input[type="text"],.registerbox input[type="password"]
{
	position: relative;
	border: none;
	outline: none;
	height: 30px;
	border-bottom: 1px solid #808080;
	color: black;
	background: transparent;
	font-size:16px;
}

::placeholder
{
	font-size:16px;
	color: #808080;
}

.registerbox input[type="submit"]
{
	margin: 0 25px;
	border: none;
	outline: none;
	border-radius: 20px;
	color: #fff;
	background: #090adc;
	height: 40px;
	width: 80%;
	font-size:18px;
	cursor: pointer;
}
.registerbox input[type="submit"]:hover
{
	background: #04e4e4;
	color: #262626;
}